<!doctype html>
<html lang="en">

<head>
    <style>
        ul li{
            list-style-type: none;
        }
    </style>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>eMarineLifeBunj</title>
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
{#    <meta name="description" content="" />#}
{#    <meta name="author" content="" />#}
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'app01/css/bootstrap.min.css'%}">
    <link href="{% static 'app01/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'app01/css/bootstrap-theme.css'%}" rel="stylesheet" />
    <link href="{% static 'app01/css/style.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/color/default.css'%}">
    <script src="{% static 'app01/js/modernizr.custom.js'%} "></script>
</head>
<body>
<header>

<div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">
          <li style="list-style-type: none"> The </li>
          <li style="list-style-type: none"> Marine</li>
          <li style="list-style-type: none">      World</li></a>

    </div>

  <ul class="nav nav-pills">
        <li><a href="index"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a href="marinefamily">Discover</a></li>
        <li><a href="recyclevideo">Play & Win</a></li>
        <li><a href="#">Stories & Facts</a></li>
        <li class="active"><a href="aboutUs">About Us</a></li>

        <li><a href="/search"><i class="fa fa-fw fa-search"></i> Search</a></li>

  </ul>

  </div>
</div>
</header>

<video width=100% height=80% autoplay muted loop>
  <source src="{% static 'app01/video/home turtle.mp4'%}" type="video/mp4">
{#  <source src="movie.ogg" type="video/ogg">#}
{#  Your browser does not support the video tag.#}
</video>

</body>
</html>