<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Untamed 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131220

-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    {% load staticfiles %}
<style>
    .dropdown {
        position: relative;
        display: inline-block;
        {#padding-top: 28px;#}
        {#font-family: 'Montserrat', sans-serif;#}
        {#font-size: 12px;#}
        {#font-weight: 400;#}
        {#text-transform: uppercase;#}
        {#color: #fff;#}
    }

/* 下拉内容 (默认隐藏) */
    .dropdown-content {
         display: none;
         position: absolute;
         background-color: #000000;
         width: inherit;
        {#min-width: 160px;#}
        {#box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);#}
    }

/* 下拉菜单的链接 */
    .dropdown-content a {
         color: #FFFFFF;
         padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

/* 鼠标移上去后修改下拉菜单链接颜色 */
    .dropdown-content a:hover {
        color: #5C9F24}

/* 在鼠标移上去后显示下拉菜单 */
    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>vwb.ml</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="static/app01/index11/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/app01/index11/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper" style="background:none!important; padding: 0em 0em;color: #ffffff">
	<div id="header" class="container">
		<div id="logo">
			<h1><span class="fa fa-bug"></span><a href="#">VWB</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="index" accesskey="1" title="">Homepage</a></li>
				<li><a href="marinefamily" accesskey="2" title="">Discover</a></li>
				<li><a href="search" accesskey="3" title="">Search</a></li>
                <div class="dropdown" >
                    <li> <a accesskey="4">Play & Win</a></li>
                    <div class="dropdown-content">
                        <a href="quiz">Quiz</a>
{#                <a href="game">Game</a>#}
                    </div>
                </div>
			</ul>
		</div>
	</div>
</div>
<div id="header-featured"  style="background-image: url(static/app01/index11/images/background.jpg);padding-top: 0px">
	<div id="banner-wrapper">
		<div id="banner" class="container">
			<h2 style="font-family: 'Comic Sans MS'">Welcome to the Marine world!</h2>
			<p style="font-family: 'Comic Sans MS'; color: #FFFFFF"> Explore the magical world under water in and around the state of Victoria. Get access to videos, pictures and a bunch of fun activities to engage in.:) </p>
			<a href="marinefamily" class="button" style="font-family: 'Comic Sans MS';font-size: 15px">Discover our Marine friends.</a>
		</div>
	</div>
</div>
<div id="wrapper">
<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2 style="font-family: 'Comic Sans MS'">Welcome to our website</h2>
				<span class="byline"> </span> </div>
			<p><img src="static/app01/index11/images/332.jpg" alt="" class="image image-full" />
			</p>
			<p>Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. </p>
			<p>Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo.</p>
		</div>
		<div id="sidebar">
			<ul class="style1">
				<li class="first">
					<h3 style="font-family: 'Comic Sans MS';font-size: 1em">Be a friend of the Marine animals, be a Victorian Wildlife Bunj!</h3>
					<p style="font-family: 'Comic Sans MS'">The word 'Bunj'is an Aboriginal word for 'Mate', usually used when addressing a friend. Sometimes used as 'Bunji/Bunjee'.</p>
				</li>
				<li>
					<h3 style="font-family: 'Comic Sans MS';font-size: 1em">Do Marine animals need our help?</h3>
                    <p style="font-family: 'Comic Sans MS'">Animals are found trapped in plastics in beach clean-ups. Five trillion pieces of plastics are floating in our sea.</p>
				</li>
				<li>
					<h3>Maecenas ac quam risus</h3>
					<p><a href="#">In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</a></p>
				</li>
			</ul>
			<div id="stwo-col">
				<div class="sbox1">
					<h2>Etiam rhoncus</h2>
					<ul class="style2">
						<li><a href="#">Semper quis egetmi dolore</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Amet ornare hendrerit lectus</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Consequat lorem phasellus</a></li>
						<li><a href="#">Amet turpis feugiat amet</a></li>
					</ul>
				</div>
				<div class="sbox2">
					<h2>Integer gravida</h2>
					<ul class="style2">
						<li><a href="#">Semper quis egetmi dolore</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Amet ornare hendrerit lectus</a></li>
						<li><a href="#">Consequat lorem phasellus</a></li>
						<li><a href="#">Amet turpis feugiat amet</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	<div id="featured-wrapper">
		<div id="featured" class="extra2 container">
			<div class="main-title">
				<h2>Nulla eleifend purus</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
	
			<div class="ebox1"> <span class="fa fa-cogs"></span>
				<div class="title">
					<h2>Fusce ultrices fringilla</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
				<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. </p>
				<a href="#" class="button">Etiam posuere</a> </div>
			<div class="ebox2"> <span class="fa fa-sun-o"></span>
				<div class="title">
					<h2>Donec dictum metus</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
				<p>Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus.</p>
				<a href="#" class="button">Etiam posuere</a> </div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
