<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>eMarineLifeBunj</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'app01/css/bootstrap.min.css'%}">
    <link href="{% static 'app01/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'app01/css/bootstrap-theme.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/css/slippry.css' %}">
    <link href="{% static 'app01/css/style.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/color/default.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    @keyframes animal_animation {
        0%{background-position: 0 0;}
        100%{background-position: -2122px}

    }
    </style>


</head>
<body>
<header>

<div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">
          <li style="list-style-type: none"> The </li>
          <li style="list-style-type: none"> Marine</li>
          <li style="list-style-type: none">      World</li></a>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a href="index"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a href="marinefamily">Discover</a></li>
        <li><a href="playAndWin">Play & Win</a></li>
        <li><a href="storyAndFact">Stories & Facts</a></li>
{#        <li><a href="aboutUs">About Us</a></li>#}
        <li><a href="#">About Us</a></li>

        <li><a href="/search"><i class="fa fa-fw fa-search"></i> Search</a></li>

  </ul>

  </div>
</div>

</header>
<!-- section intro -->
<section id="intro">

			<ul id="slippry-slider">
{#			  <li>#}
{#				<a href="#slide1"><img src="{% static 'app01/img/slide/fish1.jpg' %}" alt="Welcome to MarineLife World!"></a>#}
{#			  </li>#}

{#			  <li>#}
{#				<a href="#slide2"><img src="{% static 'app01/img/slide/fish2.jpg' %}" alt="This is an awesome website!"></a>#}
{#			  </li>#}
              <li>
				<a href="#slide1"><img src="{% static 'app01/img/slide/person.gif' %}"  ></a>
			  </li>
                 <li>
				<a href="#slide2"><img src="{% static 'app01/img/slide/middle image.PNG' %}" ></a>
			  </li>
                <li>
				<a href="#slide3"><img src="{% static 'app01/img/slide/sea.gif' %}"></a>
			  </li>

			</ul>
</section>
<!-- end intro -->
<!-- javascript -->
<script src="{% static 'app01/js/jquery-1.9.1.min.js'%}"></script>
<script src="{% static 'app01/js/slippry.min.js'%}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
<script>
	$(document).ready(function(){
	  $('#slippry-slider').slippry(
		defaults = {
			transition: 'vertical',
			useCSS: true,
			speed: 5000,
			pause: 3000,
			initSingle: false,
			auto: true,
			preload: 'visible',
			pager: false,
		}

	  )
	});
</script>
</body>
</html>