<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
      <link href="static/app01/index11/default.css" rel="stylesheet" type="text/css" media="all" />
{#    <link href="static/app01/index11/fonts.css" rel="stylesheet" type="text/css" media="all" />#}
       <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
      <link rel="stylesheet" href="static/app01/css/common.css">
       <link rel="stylesheet" href="static/app01/css/bootstrap.min.css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript" src="static/app01/js/bootstrap.min.js"></script>
      {#      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>#}

    <title>Find Nearby Animals</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width: 70%;
        height: 80%;
        margin-top: 30px;
        margin-left: 15%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: block;
      }

      #map #infowindow-content {
        display: block;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #43413e;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
        .navbar-nav>li>a {
            line-height: 1.8;
            font-size: 15px;
        }
    </style>
  </head>
  <body style="font-family: 'Comic Sans MS'">


  <a id="back" style="z-index:9999;cursor:pointer;width: 30px;height:30px;background-color: #FFFFFF;color: black;" onclick="javascript:history.go(-1)" class="back_to_previous" ><img src="static/app01/img/Arrow.png" style="width: 30px;height: 30px;background: none!important"/></a>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="color: black;width: 10%" href="index">
      <img id="logo" src="static/app01/index11/images/logo.png" style="width: 40px;height: 40px;margin-top: 10px"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="right: 30px">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="color:black;" href="index">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black;"href="marinefamily">DISCOVER</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" style="color:black;"href="quiz">QUIZ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:black;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PLAY & WIN
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="puzzle">PUZZLE</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="pickingrubbish">PICK-IT-RIGHT</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" style="color:black;"href="search">IDENTIFY</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" style="color:black;background-color: #ed9c28"href="nearbyAnimal">NEARBY-ANIMAL</a>
      </li>
    </ul>
  </div>
</nav>
  <div id="header-featured"  style="background-image: url(static/app01/img/icon/locationBack.jpg);padding: 0">
    <div style="width:100%;height:100%;background: rgba(0, 0, 0, 0.4);">
		<div id="banner" class="container" style="width: 100%; color: darkslategrey">
            <br/>
            <p style="font-family: 'Chicle', cursive;font-size: 2.5em; color: white">Do you want to see animals around you?</p>
			<p style="font-family: 'Chicle', cursive;color: #FFFFFF; font-size: 1.5em">Choose or input a location then you can find which animal is nearest to you!</p>
		</div>
    </div>
</div>
{# <div id="header-featured"  style="background-image: url(static/app01/img/icon/locationBack.jpg);margin-top: 0px; padding-top:0;height: 40%">#}
{#    <div id="banner-wrapper">#}
{#		<div id="banner" class="container" style="width: 100%; color: darkslategrey">#}
{#            <br/>#}
{#            <p style="font-family: 'Chicle', cursive;font-size: 2.5em; color: white">Do you want to see animals around you?</p>#}
{#			<p style="font-family: 'Chicle', cursive;color: #FFFFFF; font-size: 1.5em">Choose or input a location then you can find which animal is nearest to you!</p>#}
{##}
{#		</div>#}
{##}
{#	</div>#}
{#</div>#}
  <div style="margin-top: 50px;text-align: center">
    <button type="button" class="btn btn-primary" id="btn1" style="font-size: 1.5em;cursor: pointer;color: white">Melbourne</button>
    <button type="button" class="btn btn-success" id="btn2" style="font-size: 1.5em;cursor: pointer;color: white" >Sydney</button>
    <button type="button" class="btn btn-info" id="btn3" style="font-size: 1.5em;cursor: pointer;color: white">Brisbane</button>
    <button type="button" class="btn btn-default" style="font-size: 1.5em;cursor: pointer;" onclick="reload()">See All</button>
   </div>
   <div style="margin-top:50px;text-align: center">
       <p style="vertical-align: center">Fishes:  <img src='static/app01/img/icon/fishicon.png' style="width: 40px;height:40px;margin-right: 30px;"/>Reptiles:<img src='static/app01/img/icon/reptiesicon.png' style="width: 40px;height:40px;margin-right: 30px"/>     Mammals:<img src='static/app01/img/icon/mammalicon.png' style="width: 40px;height:40px"/> </p>
   </div>
    <input id="pac-input" class="controls" type="text" style="font-size: 2em" placeholder="Input a location here">

    <div id="map"></div>
  <div id="copyright" class="container" style="width: 100%;padding: 20px 0px 10px 0px">
        <p style="color: #6c757d">Copyright <2019> < VIC wildlife BUNJ></p>
    </div>
  <a class="back_to_top" style="z-index:9999;cursor:pointer;width: 60px;text-align:center;background-color: darkorange;color: black" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;">TOP</a>

  <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var icons = {
          Fish: {
            icon: 'static/app01/img/icon/fishicon.png'
          },
          Reptiles: {
            icon: 'static/app01/img/icon/reptiesicon.png'
          },
          Mammal: {
            icon: 'static/app01/img/icon/mammalicon.png'
          },
          city: {
            icon: 'static/app01/img/icon/cityicon.png'
          },
        };
      function initAutocomplete() {


           var c = {{ x|safe }};
           list = c.animal_locationlist;

          var markers = [];
          var bounds = new google.maps.LatLngBounds();

          var mapp = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -37.813629, lng: 144.963058},
          zoom: 5,
          mapTypeId: 'roadmap'
          });

          var fishmarkers=[];
          var repmarkers=[];
          var mammalmarkers=[];

          var infowindow = new google.maps.InfoWindow();
          for (var i in Object.keys(list)) {
              var key = Object.keys(list)[i];
              for(var j=0;j<list[key].length;j++) {
                  var array = list[key][j];
                  console.log(array);
                  var srcImg = "<img src='static/app01/img/animal/" + array[2] + ".jpg' style='width:100px;height:100px;font-family: 'Comic Sans MS''/>";
                  var content = "<div id='content' style='width:300px;text-align:center'>" +
                      "<div id=‘siteNotice’>" +
                      "</div>" +
                      "<h2 id=‘firstHeading’ class=‘firstHeading’>" +
                      array[2] + "</h2>" +
                      "<div id=‘bodyContent'>" +
                      "<p>" + array[3] + "</p>" + srcImg +
                      "<p>More Detail: <a href=" + key + ">click here</a></p>" +
                      "</div>" +
                      "</div>";

                  var marker = new google.maps.Marker({
                      position: new google.maps.LatLng(array[0], array[1]),
                      icon: icons[array[4]].icon,
                      map: mapp,
                  });
                  infowindow.close();
                  google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                      return function () {
                          infowindow.setContent(content);
                          infowindow.open(map, marker);
                      };
                  })(marker, content, infowindow));
                  if (array[4] == "Fish") {
                      fishmarkers.push(marker);
                  } else if (array[4] == "Reptiles") {
                      repmarkers.push(marker);
                  } else if (array[4] == "Mammal") {
                      mammalmarkers.push(marker);
                  }
                  markers.push(marker);
              }
          }
          var options1 = {
              imagePath: 'static/app01/img/icon/fishicon.png',
              minimumClusterSize:3
          }


          var markerCluster = new MarkerClusterer(mapp, fishmarkers,options1);
          var options2 = {
              imagePath: 'static/app01/img/icon/reptiesicon.png',
              minimumClusterSize:3
          }


          var markerCluster2 = new MarkerClusterer(mapp, repmarkers,options2);
          var options3 = {
              imagePath: 'static/app01/img/icon/mammalicon.png',
              minimumClusterSize:3
          }

          var markerCluster3 = new MarkerClusterer(mapp, mammalmarkers,options3);

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        mapp.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        mapp.addListener('bounds_changed', function() {
          searchBox.setBounds(mapp.getBounds());
        });


        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.

        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          bounds = new google.maps.LatLngBounds();
          markers = [];

          // For each place, get the icon, name and location.
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var wiki = "https://en.wikipedia.org/wiki/" + place.name;

            markers = clickButtonGetNearestLocation(place.name,place.geometry.location.lat(),place.geometry.location.lng(),mapp,wiki);

            for(i=0;i<markers.length;i++) {
                bounds.extend(markers[i].getPosition());
            }

            getLatest(place.geometry.location.lat(),place.geometry.location.lng(),mapp);

            console.log(place.geometry.location.lat());
            console.log(place.geometry.location.lng());
            console.log(place.geometry.location)
          });
          mapp.fitBounds(bounds);
        });

        document.getElementById("btn1").addEventListener("click",function(){
            // Clear out the old markers.
            bounds = new google.maps.LatLngBounds();
            markers.forEach(function(marker) {
               marker.setMap(null);
             });
             var wiki = "https://en.wikipedia.org/wiki/Melbourne" ;
            markers = clickButtonGetNearestLocation("Melbourne",-37.813629,144.963058,mapp,wiki);
            for(i=0;i<markers.length;i++) {
                bounds.extend(markers[i].getPosition());
            }
            mapp.setCenter(getLatest(-37.813629, 144.963058)[0]);
            mapp.fitBounds(bounds);
        });

        document.getElementById("btn2").addEventListener("click",function(){
            bounds = new google.maps.LatLngBounds();
            markers.forEach(function(marker) {
               marker.setMap(null);
             });
            var wiki = "https://en.wikipedia.org/wiki/Sydeny" ;
            markers = clickButtonGetNearestLocation("Sydeny",-33.868820,151.209290,mapp,wiki);
            for(i=0;i<markers.length;i++) {
                bounds.extend(markers[i].getPosition());
            }
            mapp.setCenter(getLatest(-33.868820, 151.209290)[0]);
            mapp.fitBounds(bounds);

        });
        document.getElementById("btn3").addEventListener("click",function(){
            bounds = new google.maps.LatLngBounds();
            markers.forEach(function(marker) {
               marker.setMap(null);
             });
            var wiki = "https://en.wikipedia.org/wiki/Brisbane" ;
            markers = clickButtonGetNearestLocation("Brisbane",-27.469770,153.025131,mapp,wiki);
            for(i=0;i<markers.length;i++) {
                bounds.extend(markers[i].getPosition());
            }
            mapp.setCenter(getLatest(-27.469770, 153.025131)[0]);
            mapp.fitBounds(bounds);
        });
      }

      function getdistance(lat1, lon1, lat2, lon2) {
          if ((lat1 == lat2) && (lon1 == lon2)) {
              return 0;
          } else {
              var radlat1 = Math.PI * lat1 / 180;
              var radlat2 = Math.PI * lat2 / 180;
              var theta = lon1 - lon2;
              var radtheta = Math.PI * theta / 180;
              var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
              if (dist > 1) {
                  dist = 1;
              }
              dist = Math.acos(dist);
              dist = dist * 180 / Math.PI;
              dist = dist * 60 * 1.1515;
              return dist;
          }
      }


		function getLatest(lat,lon) {
	         var c = {{ x|safe }};
             list = c.animal_locationlist;
             var shortest = -1;
             var shortestLat,shortestLon,shortestid;
             var shortestName,shortestFeature,shortesttypeName;
             for (var i in Object.keys(list)) {
                 var key = Object.keys(list)[i];
                 for(var j=0;j<list[key].length;j++) {
                  var array = list[key][j];
                     distance = getdistance(lat, lon, array[0], array[1]);
                     if (shortest < 0) {
                         shortest = distance;
                         shortestLat = array[0];
                         shortestLon = array[1];
                         shortestid = key;
                         shortestName = array[2];
                         shortestFeature = array[3];
                         shortesttypeName = array[4];
                     } else if (distance < shortest) {
                         shortest = distance;
                         shortestLat = array[0];
                         shortestLon = array[1];
                         shortestid = key;
                         shortestName = array[2];
                         shortestFeature = array[3];
                         shortesttypeName = array[4];
                     }
                 }
             }
                 marker = new google.maps.Marker({position: new google.maps.LatLng(shortestLat,shortestLon), map: map});
            return [new google.maps.LatLng(shortestLat, shortestLon), shortestid, shortestName, shortestFeature, shortesttypeName];

             }
        function returnpopmessage(aName,aid,afeature) {
          var srcImg ="<img src='static/app01/img/animal/" + aName + ".jpg' style='width:100px;height:100px'/>";
          console.log(srcImg);
          var contentString = "<div id='content' style='width:300px;text-align:center;font-family: 'Comic Sans MS''>"+
                             "<div id=‘siteNotice’>"+
                             "</div>"+
                             "<h2 id=‘firstHeading’ class=‘firstHeading’>" +
                              aName + "</h2>" +
                             "<div id=‘bodyContent'>" +
                             "<p>"+ afeature + "</p>" + srcImg +
                             "<p>More Detail: <a href="+ aid +">click here</a></p>"+
                             "</div>"+
                             "</div>";
           return contentString;
        }
        function returnCityMessage(cityname,ref) {
            var contentString = "<div id='content' style='width:160px'>"+
                             "<div id=‘siteNotice’>"+
                             "</div>"+
                             "<h2 id=‘firstHeading’ class=‘firstHeading’>" +
                              cityname + "</h2>" +
                             "<div id=‘bodyContent'>" +
                             "<p> <a href='#' onclick=See('" + ref +"')>" + "SEE DETAIL</a></p>"+
                             "</div>"+
                             "</div>";
            return contentString;
        }
        function clickButtonGetNearestLocation(cityname,lat,lon,mapp,ref) {

            var infowindow = new google.maps.InfoWindow({
                 maxWidth: 200,
                 content: returnCityMessage(cityname,ref)
            });
            var citymarker = new google.maps.Marker({
                 map: mapp,
                 icon: icons.city.icon,
                 position: new google.maps.LatLng(lat, lon)});
            citymarker.addListener('click', function() {
                infowindow.open(mapp, citymarker);
             });

         var infowindow2 = new google.maps.InfoWindow({
             maxWidth: 320,
             content: returnpopmessage(getLatest(lat, lon)[2],getLatest(lat, lon)[1],getLatest(lat, lon)[3])
          });
         var typeName= getLatest(lat, lon)[4]
         var animalMarker = new google.maps.Marker({
             map: mapp,
             icon: icons[typeName].icon,
              title: getLatest(lat, lon)[2],
              position: getLatest(lat, lon)[0]});

         animalMarker.addListener('click', function() {
                infowindow2.open(mapp, animalMarker);
          });
          return [citymarker,animalMarker]

        }

        function reload() {
            document.location.reload();
        }

        function See(e) {
             window.location.href = e
         }


    </script>
  <script type="text/javascript" src="static/app01/js/location/markerclusterer.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNjpszOJnJYenc_uZzNDvi4K0gYq6Xkw0&libraries=places&callback=initAutocomplete" async defer></script>
  </body>
</html>