<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
<style type="text/css">
    div.gallery {
        margin: 5px;
        border: 0px solid #ccc;
        float: left;
        width: 20%;
        height: 300px;
        justify-content: center;
    }

    div.gallery:hover {
        border: 0px solid #777;
        }

    div.gallery img {
        cursor: pointer;
        border: 0px solid black;
         transition: all 1s;
         {#border-radius: 60%;#}

    }
    div.gallery img:hover{
        transform: scale(1.1);
    }


    div.desc {
        padding: 10px;
        text-align: center;
        color: #FFFFFF;
        }



</style>


    <meta charset="utf-8">
    <title>Marinelife World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'app01/css/bootstrap.min.css'%}">
    <link href="{% static 'app01/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'app01/css/bootstrap-theme.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/css/slippry.css' %}">
    <link href="{% static 'app01/css/style.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/color/default.css'%}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <script src="{% static 'app01/js/modernizr.custom.js'%} "></script>
</head>
<body style="background-image: url(/static/app01/img/background.jpg); background-size:100%; background-repeat:no-repeat;">
<header>

<div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">
          <li style="list-style-type: none"> The </li>
          <li style="list-style-type: none"> Marine</li>
          <li style="list-style-type: none">      World</li></a>
    </div>

    <ul class="nav nav-pills">
        <li><a href="index"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li  class="active"><a href="marinefamily">Discover</a></li>
        <li><a href="recyclevideo">Play & Win</a></li>
        <li><a href="#">Stories & Facts</a></li>
        <li><a href="aboutUs">About Us</a></li>

        <li><a href="/search"><i class="fa fa-fw fa-search"></i> Search</a></li>

  </ul>

  </div>
</div>

</header>
<ur id = 'id1'>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</ur>

<h1 style="padding:0;color:#FFFFFF;font-family: cursive;font-size:40px;line-height:27px;text-align:center;"><b> Life under water around Victoria.</b></h1>
<br/>
    <ur>
    {% for type in typelist %}
            <a target="_blank" href="typeid={{ type.id }}">
             {% if type.id == 1 %}
                 <div class="gallery">
                     <img src="static/app01/img/type/fishnewdp.png" width="200" height="180" class="center-block">
                     <div class="desc"><a href="{{ type.id }}"><font color="black" size="5px"> <b>&nbsp;Go Nemo.</b></font></a></div>
                 </div>
             {% endif %}

             {% if type.id == 2 %}
                 <div class="gallery">
                 <img src="static/app01/img/type/turtle.png" width="200" height="180" class="center-block">
                     <div class="desc"><a href="{{ type.id }}"><font color="black" size="5px"><b>&nbsp;Ninja Warriors.</b></font></a></div>
                 </div>
             {% endif %}
            {% if type.id == 6 %}
                 <div class="gallery">
                     <img src="static/app01/img/type/seacowsdp.png" width="200" height="180" class="center-block">
                     <div class="desc"><a href="{{ type.id }}"><font color="black" size="5px"> <b>&nbsp;Sea Cows.</b></font></a></div>
                 </div>
             {% endif %}

             {% if type.id == 7 %}
                 <div class="gallery">
                 <img src="static/app01/img/type/waterdragonsdp.png" width="200" height="180" class="center-block">
                     <div class="desc"><a href="{{ type.id }}"><font color="black" size="5px"><b>Water Dragons.</b></font></a></div>
                 </div>
             {% endif %}

             </a>
    {% endfor %}

  </ur>
</body>


</html>