<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<meta charset="utf-8">
        <title>Discover</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
        <link href="static/app01/index11/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/app01/index11/fonts.css" rel="stylesheet" type="text/css" media="all" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/app01/index11/assets/css/main.css" />
	    </head>
    <style>
    #logo:after{
      content: "savingnemo.com";
      color: #FFFFFF;
    }
    #box img {
        cursor: pointer;
        position: relative;
        transition: all 0.5s;
    }
    #box img:hover{
        transform: scale(1.2);
        position: relative;
        z-index: 1;

    }

    </style>
<body id="top" style="background-color: #FFFFFF">
    <div id="header-wrapper" style="background:none!important; padding: 0em 0em;">
	<div id="header" class="container" style="height: 0px; font-family: 'Comic Sans MS';background: none!important; background-color: #FFFFFF; width: 100%">
		<div id="logo" style="top:10px; left: 10px">
            <img src="static/app01/index11/images/logo.png" width="40px" height="40px"/>
{#			<h2><a href="index">VWB</a></h2>#}
		</div>
		<div id="menu" style="height: 300px">
			<ul>
				<li><a href="index" accesskey="1" title="">Homepage</a></li>
				<li><a href="marinefamily" accesskey="2" title="">Discover</a></li>
				<li><a href="search" accesskey="3" title="">Search</a></li>
                <li><a href="quiz" accesskey="4" title="">Quiz</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="header-featured"  style="background-image: url(static/app01/index11/images/background.jpg);padding-top: 0px; width: 100%; height: 70px">
	<div id="banner-wrapper" >

            <br/>
            <br/>

            {% if typeid == 1 %}
                <h1 style="font-family: 'Comic Sans MS'; color: #FFFFFF; font-size: 2em;width: fit-content; margin-left: 15%;">Fishes around Victoria.</h1>
{#                <h4 style="font-family: 'Comic Sans MS'; color: #FFFFFF; font-size: 1em;width: fit-content; margin-left: 20%;">Top 20 sightings </h4>#}
            {% endif %}
            {% if typeid == 2 %}
                <h1 style="font-family: 'Comic Sans MS'; color: #FFFFFF; font-size: 2em;width: fit-content; margin-left: 0;">Turtles around Victoria.</h1>
                <h4 style="font-family: 'Comic Sans MS'; color: #FFFFFF; font-size: 0.5em;width: fit-content; margin-left: 20%;">Top 20 sightings </h4>
            {% endif %}
{#        </div>#}
	</div>
</div>

<div id="main">
    <div class="inner">
					<!-- Boxes -->
        <div class="thumbnails">
            {% for animal in animalList %}
                <div class="box" style="width: 20%;border: 2px">
                    <a href="static/app01/img/animal/{{ animal.aName }}.jpg" class="image fit"><img src="static/app01/img/animal/{{ animal.aName }}.jpg" alt="" style="width: 100%;height: 200px"/></a>
                    <div class="inner">
                        <h3>{{ animal.aName }}</h3>
{#                        <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>#}
                        <a href="{{ animal.id }}" class="button fit" data-poptrox="youtube,800x400">View More</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

		<!-- Scripts -->
			<script src="static/app01/index11/assets/js/jquery.min.js"></script>
			<script src="static/app01/index11/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/app01/index11/assets/js/jquery.poptrox.min.js"></script>
			<script src="static/app01/index11/assets/js/skel.min.js"></script>
			<script src="static/app01/index11/assets/js/util.js"></script>
			<script src="static/app01/index11/assets/js/main.js"></script>
<div id="copyright" class="container" >
	<p style="color: #6c757d">&copy; Victorian wildlife bunj. All rights reserved. | Photos by VWB, Microsoft, Pixels | Design by <a href="#" style="color: #ad3729">VWB Team</a>.</p>
</div>
	</body>
</html>