<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="icon" href="/static/app01/img/head/head.ico" type="image/x-icon"/>
    <link rel='stylesheet' href='/static/app01/css/bootstrap3.3.7.css'>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="static/app01/index11/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/app01/index11/fonts.css" rel="stylesheet" type="text/css" media="all" />

{#    <link href="default_ie6.css" rel="stylesheet" type="text/css"/>#}

    <style>
        {#div.img-container{#}
        {#    position: relative;#}
        {#    padding:0;#}
        {#    width:100%;#}
        {#    height: 100%#}
        {#}#}
        {#.img-container .mask{#}
        {#    position: absolute;#}
        {#    top:0;#}
        {#    left:0;#}
        {#    height:100%;#}
        {#    width: 100%;#}
        {#    background: rgba(0,0,0,0.7);#}
        {#    color: #f5f1e5;#}
        {#    line-height: 250px;#}
        {#    text-align: center;#}
        {#    display: none;#}
        {#}#}
        #logo:after{
             content: "savingnemo";
             color: #000000;
             vertical-align: bottom;
         }
        {#模板css开始####################################}
        #videoLeft {
            width: 600px;
            float: left;
            display: block;
        }

        #videoRight {
            width: 600px;
            float: right;
            display: block;
        }

        .desc {
            width: 550px;
            height: 150px;
        }

        video {
            width: 550px;
        }
        .shark{
            margin-top:20px;

        }

        {#模板css结束######################################}
        .btn-info,.btn-success,.btn-danger,.btn-warning{
            text-align:left;
            width:100%;
        }
        .btn-default{
            float:left;
        }
        .hideQues,.hideBtn{
            display:none;
        }
        .modal-body{
            height:280px;
        }
        .textQues,.ansQues,.wroQues{
            width:320px;
            float:left;
            margin-left:20px;

        }
        #sticker{
            border:10px solid lightskyblue;
            text-align:center;
        }
        .modal-content{
            font-family:"Comic Sans MS";
        }
        .quizBtn{
            margin-left: 44%;
        }

        .tracker{
            width:42.5px;
            height:42.5px;
        }


        .dropdown-content {
            display: none;
            position: absolute;
            background:none!important;
            min-width: 200px;
            z-index: 1;
        }


        .dropdown-content a {
        float: none;
        padding: 18px 16px;
        padding-left: 23px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        text-align: left;
        color: #FFFFFF;
    }

    .dropdown-content a:hover {
        border: 0px;
        background:none!important;
        {#color: #fd7e14;#}
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
        @media screen and (max-width: 600px) {

        #videoLeft {
            margin-left: 200px;
        }

    }
    @media screen and (max-width: 950px)
 {
    #menu {

    width:100%;
    margin:0 auto;
    position:relative;
    text-align:right;
    font-size: 8px}
    #logo img {
        width: 20px;
        height: 20px;
    }
    #logo:after{
        font-size: 8px;
    }

}
        .arrow{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #d9534f;
    border-right: 5px solid #d9534f;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg)
        translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg)
        translate(20px,20px);
    }
}
  #next {

  }

    </style>

</head>
{#模板body开始##################################}
<body style="background-color: #ffffff">
<div id="header-wrapper" style="background:none!important; padding: 0em 0em;">
	<div id="header" class="container" style="color: black;height: 50px; font-family: 'Comic Sans MS';background: none!important; background-color: #000000; width: 100%">
		<div id="logo" style="top:10px; left: 10px"><a href="index">
            <img src="static/app01/index11/images/logo.png" width="40px" height="40px"/></a>
		</div>
		<div id="menu" style="height: 100px; padding-right: 50px">
			<ul>
				<li><a href="index" accesskey="1" title="" style="color: black">Home</a></li>
				<li><a href="marinefamily" accesskey="2" title="" style="color: black">Discover</a></li>
				<li class="current_page_item"><a href="quiz" accesskey="3" title="" style="color: black">Quiz</a></li>
                <div class="dropdown" style="float: left;" id="drop">
                    <li><a href="#" accesskey="4" style="text-transform: uppercase;color: black">Play & Win</a></li>
                     <div class="dropdown-content">
                          <a href="#"></a>
                          <a href="puzzle" class="current_page_item">Puzzle</a>
                          <a href="pickingrubbish">Picking Rubbish</a>
                     </div>
                </div>
                <li><a href="search" accesskey="5" title="" style="color: black">Identify</a></li>
                <li><a href="nearbyAnimal" accesskey="6" title="" style="color: black">Nearby-animal</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="img-container" >
<div id="header-featured"  style="background-image: url(static/app01/img/quiz/quizbackground/quiz.jpg);background-size: 55%;background-repeat: no-repeat">
	<div id="banner-wrapper">
		<div id="banner" class="container" style="width: 100%; color: darkslategrey">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
		</div>
        <a class = 'quizBtn' style="margin-left: 55%" href="javascript:void(0);" onclick = showHide() >
        <img style = 'width:20%;height:60px; margin-top: 0' src = '/static/app01/img/quiz/quizclickbtn.png'></a >

	</div>

</div>

{#<div class="mask">#}
{#   HAHAHHAAH#}
{#</div>#}
</div>
{#<div id="wrapper"  >#}
{#    <div id="page" class="container" >#}
{#        <img src="static/app01/img/quiz/quizbackground/watch-this-video.png" style="height: 80%"/>#}
{#        <div id="videoLeft" style="width: 100%; text-align: center; margin-top: -20px">#}
{##}
{#            <video src="static/app01/img/quiz/videoLeft.mp4" controls="controls" style="width: 40%; height: 350px;"></video>#}
{#             <video src="/static/app01/img/quiz/videoRight.mp4" controls="controls" style="width: 40%; height: 340px"></video>#}
            {#            <div class='desc' style="font-family: 'Comic Sans MS';margin-top: 10px;text-align: center">#}
{#                <p class = 'shark'>#}
{#                    <h3 style="margin-left: 5%; color: #0590B8" >It is hard to see in the murky waters of the deep, but sharks have excellent vision. Their night vision is better than a cat's or a wolf's.</h3>#}
{#                </p>#}
{##}
{#            </div>#}
{#        </div>#}
{##}
{#        <div id='videoRight' style="width: 100%; margin-top: 80px">#}
{#            <video src="/static/app01/img/quiz/videoRight.mp4" controls="controls"></video>#}
{#            <div class='desc' style="font-family: 'Comic Sans MS';margin-top: 10px">#}
{#                <p class = 'plastic'>#}
{#                    <h3 style="font-family: 'Comic Sans MS';margin-left: 7%; color: #0590B8">Plastic is an artificial material. It does not decompose in nature or ocean. It contains chemicals that are harmful to the enormous creatures living under water.</h3>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div>#}
{#    <img src="static/app01/img/quiz/quizbackground/quiz.jpg" style="width:50%;margin-left: 25%" />#}
{#    <input type="button" value = 'Quiz!!!!!!!!!!!!!!!!!!' onclick=showHide()>#}

{#    </div>#}
{#</div>#}

{#模板body结束#################################}
<!-- Button trigger modal -->
{#<input type='button' value='Quiz' onclick=showHide()>#}

<!-- Modol -->
<!-- Modal -->
<div class="modal fade" id="quizPart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div  class="modal-content" style="background-image: url('/static/app01/img/quiz/quizbackground/Quizbg2.jpg')">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <img src='/static/app01/img/quiz/QuizTitle.png' class="img-responsive center-block"
                     style='width:400px;height:100px'>
            </div>
            <div class="modal-body" style = 'height:350px'>
                <div class = 'contentQues'>
                    <div class = 'trackerBox' style ='height:60px;width:100%;text-align:center'>
                       <div>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                           <img class = 'tracker' src = '/static/app01/img/quiz/quiztracker/tracker_empty.png'>
                       </div>
                    </div>
{#                    问题1！！！！！！！！！！！！#}
                    <div class = 'quesPic' style='width:220px;float:left;margin-top:20px'>
                      <img src='/static/app01/img/quiz/quizpic/q1.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues'>
                      <p class="text-left"><h4 style='font-weight:bold'>1.What is the largest type of shark in the world?</h4></p>
                      <p><input type="button" class="btn btn-info" name = 'q1' value = 'A.The whale shark' onclick = selectOpt(this)></p>
                      <p><input type="button" class="btn btn-info" name = 'q1' value = 'B.Great white shark' onclick = selectOpt(this)></p>
                      <p><input type="button" class="btn btn-info" name = 'q1' value = 'C.Hammerhead shark' onclick = selectOpt(this)></p>
                      <p><input type="button" class="btn btn-info" name = 'q1' value = 'D.The dwarf lantern shark' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>A whale shark can weight as much as 13 tons, which is the same as two African elephants!</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is A</h4>
                        <div style = 'font-weight:bold'>A whale shark can weight as much as 13 tons, which is the same as two African elephants!</div>
                    </div>

{#                    问题2！！！！！！！！！！！#}

                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q2.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>2.Globally ____ million metrics tons of plastics enters the ocean per year.</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q2' value = 'A.5' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q2' value = 'B.6' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q2' value = 'C.7' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q2' value = 'D.8' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>About 8 million metric tons of plastic are thrown into the ocean annually tiny pieces of broken-down plastic smaller than your little fingernail.</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is D</h4>
                        <div style = 'font-weight:bold'>About 8 million metric tons of plastic are thrown into the ocean annually tiny pieces of broken-down plastic smaller than your little fingernail.</div>
                    </div>

{#                    问题3！！！！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q3.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>3.____ sea mammals are killed each year from consuming plastic.</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q3' value = 'A.100,000' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q3' value = 'B.10,000' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q3' value = 'C.1,000' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q3' value = 'D.100' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>Globally, 100,000 marine mammals die every year as a result of plastic pollution.</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is A</h4>
                        <div style = 'font-weight:bold'>Globally, 100,000 marine mammals die every year as a result of plastic pollution.</div>
                    </div>


{#                    问题4！！！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q4.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>4.What unusual thing can the bull shark do?</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q4' value = 'A.Survive in freshwater' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q4' value = 'B.Survive out of water' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q4' value = 'C.Eat seaweed' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q4' value = 'D.Talk' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>Bull sharks have developed special adaptations that keep salt in their bodies, enabling them to live in freshwater.</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is A</h4>
                        <div style = 'font-weight:bold'>Bull sharks have developed special adaptations that keep salt in their bodies, enabling them to live in freshwater.</div>
                    </div>

{#                    问题5！！！！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q5.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>5.What does the hammerhead shark use its unusually shaped head for?</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q5' value = 'A.Hammering nails' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q5' value = 'B.Trapping stingrays' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q5' value = 'C.Measuring width' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q5' value = 'D.Swimming faster' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>The hammerhead shark pins stingrays (its favorite food) to the seafloor with its wide, flat head.</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is B</h4>
                        <div style = 'font-weight:bold'>The hammerhead shark pins stingrays (its favorite food) to the seafloor with its wide, flat head.</div>
                    </div>

{#                    问题6！！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q6.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>6.How many shark species are there?</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q6' value = 'A.About 170' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q6' value = 'B.About 370' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q6' value = 'C.About 570' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q6' value = 'D.About 770' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>Scientists have identified about 370 species of sharks, but there may be many more species out there to discover!</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is B</h4>
                        <div style = 'font-weight:bold'>Scientists have identified about 370 species of sharks, but there may be many more species out there to discover!</div>
                    </div>

{#                    问题7！！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q7.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>7.What is the fastest known marine animal?</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q7' value = 'A.Sailfish' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q7' value = 'B.Sea krate' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q7' value = 'C.Narwhal' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q7' value = 'D.Tiger shark' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>Sailfish are the fastest known marine animals which have been clocked at speeds of more than 110 kilometers an hour!</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is A</h4>
                        <div style = 'font-weight:bold'>Sailfish are the fastest known marine animals which have been clocked at speeds of more than 110 kilometers an hour!</div>
                    </div>

{#                    问题8！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q8.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>8.What animal is responsible for the Great Barrier Reef's existence?</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q8' value = 'A.Coral' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q8' value = 'B.Clownfish' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q8' value = 'C.Conchs' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q8' value = 'D.Sharks' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>The Great Barrier Reef, which is really a complex of over 2000 reefs, is made of coral.</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is A</h4>
                        <div style = 'font-weight:bold'>The Great Barrier Reef, which is really a complex of over 2000 reefs, is made of coral.</div>
                    </div>

{#                    问题9！！！！！！！！！！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q9.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>9.Whales and sea turtles sometimes eat floating plastic bags because they mistake them for what?</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q9' value = 'A.Jellyfish' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q9' value = 'B.Krill' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q9' value = 'C.Shark' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q9' value = 'D.Snails' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>Sea animals sometimes swallow plastic bags because they mistake them for drifting jellyfish. The plastic can block their stomachs.</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is A</h4>
                        <div style = 'font-weight:bold'>Sea animals sometimes swallow plastic bags because they mistake them for drifting jellyfish. The plastic can block their stomachs.</div>
                    </div>

{#                    问题10！！！！！！！！！！！！#}
                    <div class = 'quesPic hideQues' style='width:220px;float:left;margin-top:20px'>
                        <img src='/static/app01/img/quiz/quizpic/q10.jpg' class="img-responsive center-block img-circle">
                    </div>
                    <div class = 'textQues hideQues'>
                        <p class="text-left"><h4 style='font-weight:bold'>10.Which fish swallows lots of water(or air!) to turn into a spiky ball when threatened?</h4></p>
                        <p><input type="button" class="btn btn-info" name = 'q10' value = 'A.Stingray' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q10' value = 'B.Pufferfish' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q10' value = 'C.Lionfish' onclick = selectOpt(this)></p>
                        <p><input type="button" class="btn btn-info" name = 'q10' value = 'D.Tuna' onclick = selectOpt(this)></p>
                    </div>

                    <div class = 'ansQues hideQues'>
                        <h4 style='color:green;font-weight:bold'>Correct</h4>
                        <div style = 'font-weight:bold'>The pufferfish gulps water to turn into a difficult-to-eat spikeball when it feels threatened.</div>
                    </div>
                    <div class = 'wroQues hideQues'>
                        <h4 style = 'color:red;font-weight:bold'>Incorrect,the correct answer is B</h4>
                        <div style = 'font-weight:bold'>The pufferfish gulps water to turn into a difficult-to-eat spikeball when it feels threatened.</div>
                    </div>

                    <div class = 'showRes hideQues' style = 'text-align:center;margin-top:30px'>
                        <a  class = 'rewardStic' href="#" download = "sticker">
                            <button type="button" id = 'sticker' class="btn btn-info"  onclick = getSticker(this)>
                                <p><h3 class = 'finalTit' style = 'color:red;font-weight:bold;margin-top:10px'>Nice!</h3></p>

                                <p><h4 class = 'beat' style = 'color:red;font-weight:bold'></h4></p>

                                <div class = 'finalScore' style = 'font-weight:bold'>You got</div>
                                <div style = 'font-weight:bold'>Click for reward!</div>
                            </button>
                        </a>
                    </div>


                    <div style = 'clear:both'></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-primary lastChange" onclick = getAnswer(this)>Save changes</button>
                <button type="button" class="btn btn-primary nextOne hideBtn" onclick = nextQues(this)>Next one</button>
                <button type="button" class="btn btn-primary tryAgain hideBtn" onclick = tryAgain(this)>Try again</button>
            </div>
        </div>
    </div>
</div>

<div id="copyright" class="container" style="width: 100%">
	<p style="color: #6c757d">&copy; Victorian wildlife bunj. All rights reserved. | Photos by VWB, Microsoft, Pixels | Design by <a href="#" style="color: #ad3729">VWB Team</a>.</p>
</div>
</body>
<script src='/static/app01/js/jquery-3.3.1.js'></script>
<script src='/static/app01/js/bootstrap.js'></script>

<script>
    var selectAns = {};
    var score = 0;
    var count = 0;
    var correctAns = {q1:'A.The whale shark',q2:'D.8',q3:'A.100,000',q4:'A.Survive in freshwater',q5:'B.Trapping stingrays'
        ,q6:'B.About 370',q7:'A.Sailfish',q8:'A.Coral',q9:'A.Jellyfish',q10:'B.Pufferfish'};

    function showHide() {
        $('.trackerBox').removeClass('hideBtn');
        $('.trackerBox').find('.tracker').prop('src','/static/app01/img/quiz/quiztracker/tracker_empty.png');
        $('#quizPart').modal('show');
        $('.textQues .btn').removeClass('active');
        score = 0;
        selectAns = {};
        count = 0;

        $('.showRes').addClass('hideQues');
        $('.ansQues').addClass('hideQues');
        $('.wroQues').addClass('hideQues');
        $('.quesPic').addClass('hideQues');
        $('.textQues').addClass('hideQues');
        $('.quesPic').eq(0).removeClass('hideQues');
        $('.textQues').eq(0).removeClass('hideQues');
        $('.lastChange').removeClass('hideBtn');
        $('.nextOne').addClass('hideBtn');
        $('.tryAgain').addClass('hideBtn');

    }

    function selectOpt(arg){
        $(arg).addClass('active');
        $(arg).parent().siblings().children('.btn').removeClass('active');
        var que = $(arg).attr('name');
        var ans = $(arg).val();
        selectAns[que] = ans;
    }


    function getAnswer(arg){
        var ques = $('.textQues').eq(count).find('.btn').eq(0).attr('name');
        if(selectAns[ques] != undefined){
            $('.textQues').eq(count).addClass('hideQues');
            if(selectAns[ques] == correctAns[ques]){
                $('.trackerBox').find('.tracker').eq(count).prop('src','/static/app01/img/quiz/quiztracker/tracker_right.png');
                $('.ansQues').eq(count).removeClass('hideQues');
                score++;
                $(arg).addClass('hideBtn');
                $(arg).next().removeClass('hideBtn');
                count++;
            }
            else{
                $('.trackerBox').find('.tracker').eq(count).prop('src','/static/app01/img/quiz/quiztracker/tracker_wrong.png');
                $('.wroQues').eq(count).removeClass('hideQues');
                $(arg).addClass('hideBtn');
                $(arg).next().removeClass('hideBtn');
                count++;
            }
        }
    }


    function nextQues(arg){

        var previous = count - 1;
        $('.quesPic').eq(previous).addClass('hideQues');
        $('.ansQues').eq(previous).addClass('hideQues');
        $('.wroQues').eq(previous).addClass('hideQues');

        $('.quesPic').eq(count).removeClass('hideQues');
        $('.textQues').eq(count).removeClass('hideQues');

        $(arg).addClass('hideBtn');
        $(arg).prev().removeClass('hideBtn');
        console.log(count);
        if(count == 10){
            //发送ajax测试
            $.ajax({
                url:'/savescore',
                type:'GET',
                data:{'score':score},
                success:function(arg){
                    console.log(arg);
                    var txt = 'You beat ' + arg + ' of people';
                    $('.beat').html(txt);

                }
            });
            //发送ajax测试完毕


            $('.showRes').removeClass('hideQues');
            $('.lastChange').addClass('hideBtn');
            $('.getRes').removeClass('hideBtn');
            $('.tryAgain').removeClass('hideBtn');
            var finalS = 'You got ' + score + ' out of 10';
            $('.finalScore').html(finalS);
            if(score == 0 || score == 1 || score == 2 ){
                $('.finalTit').text('Can do better!');
            }
            else if(score == 3 || score == 4 || score == 5){
                $('.finalTit').text('Not bad!');
            }
            else if(score == 6|| score == 7){
                $('.finalTit').text('Doing well!');
            }
            else if(score == 8 || score == 9){
                $('.finalTit').text('Good job');
            }
            else if(score == 10){

               $('.finalTit').text('Genius');
            };
        }
    }

    function getSticker(arg){

        var src = '/static/app01/img/quiz/sticker/' + score + 'point.png';
        $(arg).parent('a').prop('href',src);

    }

    function tryAgain(arg){
        score = 0;
        selectAns = {};
        count = 0;
        $('.textQues .btn').removeClass('active');
        $('.trackerBox').removeClass('hideBtn');
        $('.trackerBox').find('.tracker').prop('src','/static/app01/img/quiz/quiztracker/tracker_empty.png');

        $('.showRes').addClass('hideQues');
        $('.ansQues').addClass('hideQues');
        $('.wroQues').addClass('hideQues');
        $('.quesPic').addClass('hideQues');
        $('.textQues').addClass('hideQues');
        $('.quesPic').eq(0).removeClass('hideQues');
        $('.textQues').eq(0).removeClass('hideQues');
        $('.lastChange').removeClass('hideBtn');
        $('.nextOne').addClass('hideBtn');
        $('.tryAgain').addClass('hideBtn');

    }


</script>
</html>