<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Find Animal</title>
    <link rel='stylesheet' href='/static/app01/css/bootstrap3.3.7.css'>
    <link rel='stylesheet' href='/static/app01/css/bootstrap.min.css'>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="static/app01/index11/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/app01/index11/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

     <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="static/app01/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="static/app01/css/fact/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="static/app01/css/fact/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="static/app01/css/fact/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="static/app01/css/fact/style.css">

  <link rel="stylesheet" href="static/app01/index11/assets/css/main.css" />
    <link rel='stylesheet' href='/static/app01/css/newindex/loading.css'>
    <style>

        #logo:after{
             content: "savingnemo";
             color: #000000;
             vertical-align: bottom;
         }


        video {
            width: 550px;
        }


        .quizBtn{
            margin-left: 44%;
        }



        .dropdown-content {
            display: none;
            position: absolute;
            background:none!important;
            min-width: 200px;
            z-index: 1;
        }

        .dropdown-content a {
        float: none;
        padding: 18px 16px;
        padding-left: 23px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        text-align: left;
        color: #000000;
    }

    .dropdown-content a:hover {
        border: 0px;
        background:none!important;
        {#color: #fd7e14;#}
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    @media screen and (max-width: 700px)
 {
    #menu {

    width:100%;
    margin:0 auto;
    position:relative;
    text-align:right;
    font-size: 8px}


}
        .arrow{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #d9534f;
    border-right: 5px solid #d9534f;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg)
        translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg)
        translate(20px,20px);
    }
}
        .back_to_previous{
         position: fixed;
        left:30px;
        top: 50%;
        border:1px solid #888;
        }
        @media screen and (max-width: 900px)
 {
    #menu {

    width:100%;
    margin:0 auto;
    position:relative;
    text-align:right;
    font-size: 8px}
    #logo img {
        width: 20px;
        height: 20px;
    }
    #logo:after{
        font-size: 8px;
    }

}

    </style>

</head>
{#模板body开始##################################}
<body style="background-color: #ffffff; font-family: 'Comic Sans MS'">
<button id="back" class="back_to_previous" style="z-index:9999;cursor:pointer;width: 30px;background:none!important;color: black;"onclick="javascript:history.go(-1)"><</button>
<div id="header-wrapper" style="background:none!important; padding: 0em 0em;">
	<div id="header" class="container" style="color: black;height: 50px; font-family: 'Comic Sans MS';background: none!important; background-color: #000000; width: 100%">
		<div id="logo" >
            <img src="static/app01/index11/images/logo.png" width="40px" height="40px"/>
		</div>
		<div id="menu" style="height: 100px;">
			<ul>
				<li><a href="index" accesskey="1" title="" style="color: black">Home</a></li>
				<li><a href="marinefamily" accesskey="2" title="" style="color: black">Discover</a></li>
				<li><a href="quiz" accesskey="3" title="" style="color: black">Quiz</a></li>
                <div class="dropdown" style="float: left;" id="drop">
                    <li><a href="#" accesskey="4" style="text-transform: uppercase;color: black">Play & Win</a></li>
                     <div class="dropdown-content">
                          <a href="#"></a>
                          <a href="puzzle" class="current_page_item">Puzzle</a>
                          <a href="pickingrubbish">Pick-it-right</a>
                     </div>
                </div>
                <li class="current_page_item"><a href="search" accesskey="5" title="" style="color: black">Identify</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="header-featured"  style="background-image: url(static/app01/img/searchBack.gif);background-size: cover;background-repeat: no-repeat">
	<div id="banner-wrapper">
		<div id="banner" class="container" style="width: 100%; color: darkslategrey">
            <p style="font-family: 'Indie Flower', cursive; color: #000000;font-size: 3.5em;font-weight: bolder">REMEMBER ME?</p>
			<p style="font-family: 'Indie Flower', cursive;color: #000000; font-size: 2em;font-weight: bolder">Don't remember the names yet? No worries! Make a selection below and find out.</p>
            <br/>
            <br/>
		</div>
    <div class="container-fluid bg-light " style="background: none!important">

    <form id = 'fm' class="row align-items-center justify-content-center"action ='' method = 'get'>
    <div class="col-md-2 pt-3" >
    <select class="sel form-control type" name = 'type'>
        <option value='0' disabled selected style='display:none;'>Animal type</option>
{#        <option value = 0>Any</option>#}
        {% for item in type_list %}
            {% if item.id == input_list.aType_id %}
                <option value = {{ item.id }} selected>{{ item.tName }}</option>
            {% else %}
                <option value = {{ item.id }}>{{ item.tName }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </div>
    <div class="col-md-2 pt-3" >
    <select class="sel form-control colour" name = 'colour'>
        <option value='0' disabled selected style='display:none;'>Colour</option>
{#        <option value = 0>Any</option>#}
        {% for item in colour_list %}
            {% if item.id == input_list.aColor_id %}
                <option value = {{ item.id }} selected>{{ item.cName }}</option>
            {% else %}
                <option value = {{ item.id }}>{{ item.cName }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </div>
    <div class="col-md-2 pt-3" >
    <select class="sel form-control size" name = 'size'>
        <option value='0' disabled selected style='display:none;'>SIZE</option>
{#        <option value = 0>Any</option>#}
        {% for item in size_list %}
            {% if item.id == input_list.aSize_id %}
                <option value = {{ item.id }} selected>{{ item.sName }}</option>
            {% else %}
                <option value = {{ item.id }}>{{ item.sName }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </div >
        <button type="button" class="fa fa-search" style="font-family:'Comic Sans MS';border:0;padding-top:30px;font-size: 1.5em;width: 100%;background: none!important;color: black" onclick="searchAnimal()"> Click to get animals</button>

    </form>
    </div>



</div>
	</div>
</div>
<div class="our-causes" style="background: url('static/app01/img/fact/fish1.jpg');backgournd-repeat: no-repeat; background-size: cover">
        <div class="container">
            {% if fishno > 0 %}
             <div class="row">
                <div class="coL-12">
                    <div class="section-heading">
                        <h2 class="entry-title" style="color: white;font-family: 'Comic Sans MS'">Fishes: {{ fishno }}</h2>
                    </div><!-- .section-heading -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="thumbnails" id="loadarea1" style="margin-left: -6%">
            {% for animal in fish_list %}
                <div class="cause-wrap" style="margin-left:5%;margin-top:0;width: 300px; height: 380px;">
                        <figure class="m-0" style="height: 200px">
                            <img src="static/app01/img/animal/{{ animal.aName }}.jpg" alt="" style="height: 200px">

                            <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                <a href="{{ animal.id }}" class="btn gradient-bg mr-2">See detail</a>
                            </div><!-- .figure-overlay -->
                        </figure>

                    <div class="cause-content-wrap" style="height: 80px">
                        <header class="entry-header d-flex flex-wrap align-items-center">
                            <h3 class="entry-title w-100 m-0"><a href="{{ animal.id }}">{{ animal.aName }}</a></h3>
                        </header><!-- .entry-header -->
                    </div><!-- .cause-content-wrap -->
                </div>
            {% endfor %}

            </div>
                <div id="button1" style="padding-top: 20px;text-align: center">
              <button href='#' onclick="slideDiv('loadarea1',350)">Click to view more or hide</button>
            </div>
            {% endif %}
            {% if repno > 0 %}
                <div class="row">
                <div class="coL-12">
                    <div class="section-heading">
                        <h2 class="entry-title" style="color: white;font-family: 'Comic Sans MS'">Repities:{{ repno }}</h2>
                    </div><!-- .section-heading -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="thumbnails" id="loadarea2" style="margin-left: -6%" >
            {% for animal in turtle_list %}
                <div class="cause-wrap" style="margin-left:5%;margin-top:0;width: 300px; height: 380px;">
                        <figure class="m-0" style="height: 200px">
                            <img src="static/app01/img/animal/{{ animal.aName }}.jpg" alt="" style="height: 200px">

                            <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                <a href="{{ animal.id }}" class="btn gradient-bg mr-2">See detail</a>
                            </div><!-- .figure-overlay -->
                        </figure>

                    <div class="cause-content-wrap" style="height: 80px">
                        <header class="entry-header d-flex flex-wrap align-items-center">
                            <h3 class="entry-title w-100 m-0"><a href="{{ animal.id }}">{{ animal.aName }}</a></h3>
                        </header><!-- .entry-header -->
                    </div><!-- .cause-content-wrap -->
                </div>
            {% endfor %}

            </div>
                <div id="button2" style="padding-top: 20px;text-align: center">
              <button href='#' onclick="slideDiv('loadarea2',350)">Click to view more or hide</button>
            </div>
            {% endif %}
            {% if mamno > 0 %}
                <div class="row">
                <div class="coL-12">
                    <div class="section-heading">
                        <h2 class="entry-title" style="color: white;font-family: 'Comic Sans MS'">Mammals:{{ mamno }}</h2>
                    </div><!-- .section-heading -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="thumbnails" id="loadarea3" style="margin-left: -6%">
            {% for animal in mammal_list %}
                <div class="cause-wrap" style="margin-left:5%;margin-top:0;width: 300px; height: 380px;">
                        <figure class="m-0" style="height: 200px">
                            <img src="static/app01/img/animal/{{ animal.aName }}.jpg" alt="" style="height: 200px">

                            <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                <a href="{{ animal.id }}" class="btn gradient-bg mr-2">See detail</a>
                            </div><!-- .figure-overlay -->
                        </figure>

                    <div class="cause-content-wrap" style="height: 80px">
                        <header class="entry-header d-flex flex-wrap align-items-center">
                            <h3 class="entry-title w-100 m-0"><a href="{{ animal.id }}">{{ animal.aName }}</a></h3>
                        </header><!-- .entry-header -->
                    </div><!-- .cause-content-wrap -->
                </div>
            {% endfor %}
            </div>
                <div id="button3" style="padding-top: 20px;text-align: center">
              <button href='#' onclick="slideDiv('loadarea3',350)">Click to view more or hide</button>
               </div>
            {% endif %}
            <div style="text-align: center">
            {% if animal_list.count == 0 %}
                <h2>No results found</h2>
            {% endif %}
            </div>

        </div><!-- .container -->
</div>
<div id="copyright" class="container" style="width: 100%;padding: 20px 0px 10px 0px">
        <p style="color: #6c757d">Copyright <2019> < VIC wildlife BUNJ></p>
    </div>
</body>
<script src='/static/app01/js/jquery-3.3.1.js'></script>
{#<script src='/static/app01/js/bootstrap.js'></script>#}

 <script>

    $(document).ready(function(){
        setTimeout(function(){
            $('.loading-wrapper').fadeOut(500);
        },1000);

    });
    function showButton() {
        if (document.getElementById('button1') != null) {
            var obj1 = document.getElementById('button1').style;
            var div1 = document.getElementById('loadarea1').style;
            var hei1 = document.getElementById('loadarea1').offsetHeight;
            console.log(hei1)
            if (hei1 > 390) {
                div1.height = "350px";
                div1.overflow = "hidden"
                obj1.display = 'true'
            } else {
                obj1.display = 'none'
            }
        }
        if (document.getElementById('button2') != null){
            var obj2=document.getElementById('button2').style;
            var div2=document.getElementById('loadarea2').style;
            var hei2 = document.getElementById('loadarea2').offsetHeight;
            console.log(hei2)
            if (hei2 > 390){
                div2.height = "350px";
                div2.overflow="hidden"
                obj2.display = 'true'
            }
            else{
                obj2.display = 'none'
            }
        }

        if (document.getElementById('button3') != null) {
            var obj3 = document.getElementById('button3').style;
            var div3 = document.getElementById('loadarea3').style;
            var hei3 = document.getElementById('loadarea3').offsetHeight;
            console.log(hei3)
            if (hei3 > 390) {
                div3.height = "350px";
                div3.overflow = "hidden"
                obj3.display = 'true'
            } else {
                obj3.display = 'none'
            }
        }
    }

    window.onload = showButton;

    function slideDiv(divID,height){
    var obj=document.getElementById(divID).style;
    {#var button=document.getElementById('button').style;#}
    {#var hei = $('.loadarea').height();#}
    {#if(hei<650){#}
    {#    button.display='none'#}
    {#    button.visibility='blco';#}

    if(obj.height==""){
        obj.height=height+"px";
        obj.overflow="hidden";
    }else{
        obj.height="";
        obj.overflow="";
        {#button.display='none';#}
    }

}

    //方法二：全局变量，不建议用
    //$(function(){
    //    initImg();
    //    scrollEvent();
    //});
    //不建议定义全局变量，会弄混，可以将全局变量封装到一个类
    //Nid = 0;
    //LastPosition = -1;

    //search animal####################################
    function searchAnimal(){
        $('.button').addClass('hidden')
        $('.result').addClass('hidden')
        var type;
        var colour;
        var size;
        if($('.type').val() == null){
            type = '0';
        }else{
            type = $('.type').val();
        }

        if($('.colour').val() == null){
            colour = '0';
        }else{
            colour = $('.colour').val();
        }

        if($('.size').val() == null){
            size = '0';
        }else{
            size = $('.size').val();
        }
        src = '/advsearch-' + type +'-'+ colour + '-'+ size;
        $('#fm').prop('action',src);
        $('#fm').submit();
    }
</script>
{#<!-- Scripts -->#}
    <script type='text/javascript' src='static/app01/js/fact/jquery.js'></script>
<script type='text/javascript' src='static/app01/js/fact/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='static/app01/js/fact/swiper.min.js'></script>
<script type='text/javascript' src='static/app01/js/fact/jquery.countdown.min.js'></script>
<script type='text/javascript' src='static/app01/js/fact/circle-progress.min.js'></script>
<script type='text/javascript' src='static/app01/js/fact/jquery.countTo.min.js'></script>
<script type='text/javascript' src='static/app01/js/fact/jquery.barfiller.js'></script>
<script type='text/javascript' src='static/app01/js/fact/custom.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</html>
