<!DOCTYPE html>
<html lang="en">

<head>
<style>
     {% load staticfiles %}
     #logo:after{
      content: "savingnemo";
      color: #FFFFFF;
  }
    *{
        margin:0;
        padding:0;
    }
    div.gallery {
        width:50%
    }
    div.gallery img {
        cursor: pointer;
         transition: all 1s;
         {#border-radius: 50%;#}

    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    div.Picturecontainer img{
        width: 100%;
        height: 250px;
    }
    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 1em;
        font-family: "Comic Sans MS";
        border: none;
         outline: none;
        color: white;
        padding: 16px 16px;
        background-color: inherit;
        margin: 0;
        text-transform: uppercase;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background:none!important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

    }

    .dropdown-content a {
        float: none;
        padding: 20px 16px;
        padding-bottom: 10px;
        text-decoration: none;
        display: block;
        text-align: left;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .dropdown-content a:hover {
        background:none!important;
        {#color: #fd7e14;#}
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #map {
        height: 20%;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
        align-content: center;
       }
</style>

    <meta charset="utf-8">
    <title>DetailInformation</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="static/app01/index11/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/app01/index11/fonts.css" rel="stylesheet" type="text/css" media="all" />
{#    <link rel="stylesheet" href="{% static 'app01/css/bootstrap.min.css'%}">#}
     <link rel="stylesheet" href="{% static 'app01/css/templatemo-style.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link href="{% static 'app01/css/style.css'%}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bubblegum+Sans" />
    <script>

    var renderPage = true;

    if(navigator.userAgent.indexOf('MSIE')!==-1
      || navigator.appVersion.indexOf('Trident/') > 0){
        /* Microsoft Internet Explorer detected in. */
        alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
        renderPage = false;
    }

  </script>

    <script src="{% static 'app01/js/modernizr.custom.js'%} "></script>

</head>




<body style="background-image: url(/static/app01/img/background2.png);background-size: 100% 100%; background-repeat: no-repeat;">
<div id="header-wrapper" style="background:none!important; padding: 0em 0em;">
	<div id="header" class="container" style="height: 0px; font-family: 'Comic Sans MS';background: none!important; background-color: #FFFFFF; width: 100%">
		<div id="logo" style="top:10px; left: 10px">
            <img src="static/app01/index11/images/logo.png" width="40px" height="40px"/>
{#			<h2><a href="index">VWB</a></h2>#}
		</div>
		<div id="menu" style="height: 300px; padding-right: 50px">
			<ul>
				<li class="current_page_item"><a href="index" accesskey="1" title="">Home</a></li>
				<li><a href="marinefamily" accesskey="2" title="">Discover</a></li>
				<li><a href="quiz" accesskey="3" title="">Quiz</a></li>
                <div class="dropdown" id="drop">
                     <li><button class="dropbtn" accesskey="4" style="text-transform: uppercase">Play & Win
                     </button></li>
                     <div class="dropdown-content">
                          <a href="#"></a>
                          <a href="quiz">Puzzle</a>
                          <a href="testgame">Picking Rubbish</a>
                     </div>
                </div>
			</ul>
		</div>
	</div>
</div>
<div id="header-featured"  style="background-image: url(static/app01/index11/images/background.jpg);padding-top: 0px; width: 105%; height: 70px">
	<div id="banner-wrapper" style="width: 100%">
		<div id="banner" class="container" style="width: 50%">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1 style="font-family: 'Comic Sans MS';margin-left:30%;color: #ffffff; font-size: 1.5em ;background-color: #fd7e14;width: fit-content; height: 60px">{{ animal.aName }}</h1></div>
	</div>
</div>
<div id="loader-wrapper">

    <div id="loader"></div>

    <div class="loader-section section-left"></div>

    <div class="loader-section section-right"></div>

  </div>

<div id="wrapper" style="width: 100%">
<div id="page" class="container" style="border:2px;background-color: #FFFFFF;width: 100%; text-align: left">
		<div id="content" style="width: 50%; margin-left: 20px">
			<p><img src="static/app01/img/animal/{{ animal.aName }}.jpg" alt="" class="image image-full" style="width: 90%; height: 400px"/></p>
            <b style="margin-left:auto; padding-top:50px; padding-bottom: 40px;font-family: 'Comic Sans MS';font-size: 30px;color: #fd7e14 ">Did you know?</b>
            <br/>
            <br/>
{#            <li style="list-style-type: none"><p style="font-family: 'Comic Sans MS'; color: #000000; font-size: 20px" >We are {{ animal.aPopulation}} in count now!</p> </li>#}
            <br/>
            <li style="list-style-type: none"><p style="font-family: 'Comic Sans MS'; color: #000000; font-size: 20px">{{ animal.aFact }}</p></li>
            <br/>
            <br/>
            <br/>

            <li style="list-style-type: none"><b style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 40px; padding-bottom: 30px" >Find me here </b></li>
             <li style="list-style-type: none"><b style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 40px; padding-bottom: 30px" > -------------> </b></li>

		</div>
		<div id="sidebar" style="width: 45%; ">

            <p style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 20px;" > Family: {{ animal.aFamily }}</p>
            <p style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 20px;" > Weight: {{ animal.aWeight }}</p>
            <p style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 20px;" > Length: {{ animal.aLength }}</p>
            <p style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 20px;" > Lifespan: {{ animal.aLifespan }}</p>
            <p style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 20px;" >	Special design feature: : {{ animal.aFeature }}</p>
            <p style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 20px;" >	Sightings around VIC : {{ animal.aPopulation }}</p>


                <div id="map" style="margin-top: 80px"></div>




		</div>
	</div>
</div>
 <div class="container">

{#<hr style="height:1px; border:none; color:#2a6496; background-color:#000;">#}

{#<hr style="height:1px; border:none; color:#2a6496; background-color:#000;">#}
 <!-- 2nd section --> <!-- slide secion -->
{# <div class="container" style="height: 200px;vertical-align: center">#}
{#     <ul>#}
{#    <li style="list-style-type: none"><b style="margin-left:auto;   padding-top: 20px; padding-bottom: 40px;font-family: 'Comic Sans MS';font-size: 30px;color: #fd7e14 ">Did you know?</b></li>#}
{#     <br/>#}
{#      <li style="list-style-type: none"><b style="font-family: 'Comic Sans MS'; color: #000000; font-size: 20px" >We are {{ animal.aPopulation}} in count now!</b> </li>#}
{#     <br/>#}
{#     <li style="list-style-type: none"><b style="font-family: 'Comic Sans MS'; color: #000000; font-size: 20px">{{ animal.aFact }}</b></li>#}
{#     </ul>#}
{# </div>#}
{# <hr style="height:1px; border:none; color:#2a6496; background-color:#000;">#}
{# <section class="row tm-section tm-col-md-reverse" style="padding-top: 20px">#}

{#<div class="Picturecontainer">#}
{#  <section id="intro">#}
{#			<ul id="slippry-slider">#}
{#             {% for name in list1 %}#}
{#                 <li>#}
{#				<a ><img src="static/app01/img/animal/{{ name }}" width="200px" height="300px"></a>#}
{#                </li>#}
{#                 </a>#}
{#            {% endfor %}#}
{#			</ul>#}
{##}
{#</section>#}
{#</div>#}
{#<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">#}
{##}
{#    <div class="tm-flex-center p-5">#}
{##}
{#        <div class="tm-md-flex-center">#}
{##}
{#            <h2 class="tm-align-left">picture part</h2>#}
{##}
{#                <p class="mb-4">{{ animal.aDetail }}</p>#}
{##}
{#                     <a href="#" class="'btn btn-primary float-lg-left tm-md-align-center"> Read More</a>#}
{#        </div>#}
{##}
{#  </div>#}
{#</div>#}
{##}
{#</section>#}

     <!-- 3rd Section --><!--- google map secion -->
{# <section class="row tm-section" style="padding-top: 10px; background: none!important">#}
{##}
{#  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">#}
{##}
{#    <div class="tm-flex-center p-5">#}
{#        <div class="tm-flex-center tm-flex-col">#}
{##}
{#        <b class="tm-align-right" style="font-family: 'Comic Sans MS';color: #fd7e14; font-size: 40px; padding-bottom: 30px" >LOCATE ME AT: </b>#}
{##}
{#            <p style="font-family: 'Comic Sans MS'; color: #2a6496; font-size: 20px">{{ animal.aHabitat }}</p>#}
{#       </div>#}
{#    </div>#}
{#  </div>#}

  <!--The div element for the map -->

   <script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var c = {{ x|safe }};
        list = c.locationList;

        console.log(list)
        var marker,i;
        var lo = {lat:list[0][0], lng: list[0][1]}
        var map = new google.maps.Map(document.getElementById('map'), {zoom:6, center: lo});

        for(i=0;i< list.length;i++)
        {
            marker = new google.maps.Marker({position: new google.maps.LatLng(list[i][0],list[i][1]), map: map});
        }
    }
</script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7ZGxAWKGweQBCNoQWfIs75Do3oia5ZJA&callback=initMap">
    </script>

</section>

<script src="{% static 'app01/js/jquery-1.9.1.min.js'%}"></script>
<script src="{% static 'app01/js/slippry.min.js'%}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
<script>
	$(document).ready(function(){
	  $('#slippry-slider').slippry(
		defaults = {
			transition: 'horizontal',
			useCSS: true,
			speed: 7000,
			pause: 3000,
			initSingle: false,
			auto: true,
			preload: 'visible',
			pager: false,
		}

	  )
	});
</script>

 </div>
<!-- load JS -->
{# </div>#}
<script>

  /* DOM is ready

  ------------------------------------------------*/

  $(function(){

    if(renderPage) {
      $('body').addClass('loaded');
    }

    $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright

  });

</script>
<div id="copyright" class="container" style="width: 100%">
	<p style="color: #6c757d">&copy; Victorian wildlife bunj. All rights reserved. | Photos by VWB, Microsoft, Pixels | Design by <a href="#" style="color: #ad3729">VWB Team</a>.</p>
</div>
</body>
</html>