<!DOCTYPE html>
<html lang="en">

<head>
<style>
    div.gallery img {
        cursor: pointer;
         transition: all 1s;
         border-radius: 50%;

    }

    h1 {
        font-size: 40px;
        text-align: center;
    }
    div.Picturecontainer{
        width: 50%;
        height: 500px;
    }
    div.Picturecontainer img{
        width: 100%;
        height: 100%;
    }


    #map {
        height: 200px;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
          align-content: center;
       }
</style>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>DetailInformation</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'app01/css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="{% static 'app01/css/templatemo-style.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link href="{% static 'app01/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'app01/css/bootstrap-theme.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/css/slippry.css' %}">
    <link href="{% static 'app01/css/style.css'%}" rel="stylesheet" />
{#    <link rel="stylesheet" href="{% static 'app01/color/default.css'%}">#}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
     <script>

    var renderPage = true;

    if(navigator.userAgent.indexOf('MSIE')!==-1
      || navigator.appVersion.indexOf('Trident/') > 0){
        /* Microsoft Internet Explorer detected in. */
        alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
        renderPage = false;
    }

  </script>

    <script src="{% static 'app01/js/modernizr.custom.js'%} "></script>

</head>

<body>
<header>
  <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">MarineLife</a>
    </div>

  <ul class="nav nav-pills" >
        <li><a href="index"><i class="fa fa-fw fa-home"></i>Home</a><</li>
        <li><a href="marinefamily">MarineLife World</a></li>
        <li><a href="recyclevideo">Recycle Video</a></li>
        <li><a href="game">Small Games</a></li>
        <li><a href="aboutUs">About Us</a></li>
        <li><a href="#">   </a></li>
        <li><a href="/search"><i class="fa fa-fw fa-search"></i> Search Animal</a></li>

  </ul>

  </div>
</div>

</header>

<div id="loader-wrapper">

    <div id="loader"></div>

    <div class="loader-section section-left"></div>

    <div class="loader-section section-right"></div>

  </div>
 <div class="container">

    <!-- 1st section -->

  <section class="row tm-section">


      {% if animal.aName == "shark" %}
          <div class="gallery">
          <img src="static/app01/img/shark1.jpg" width="300" height="300" class="center-block"></a>
              <div class="desc"><h1 class="tm-md-align-center">Shark</h1></div>
          </div>

      {% endif %}

      {% if animal.aName == "Flatback turtle" %}
          <div class="gallery">
          <img src="static/app01/img/Flatback turtle1.jpg" width="300" height="300" class="center-block"></a>
              <div class="desc"><h1 class="tm-md-align-center">&nbsp;Flatback turtle</h1></div>
          </div>
      {% endif %}


  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">

    <div class="tm-flex-center p-5">

      <q class="tm-quote tm-text-color-primary"><b>{{ animal.aDetail }}</b></q>

    </div>
  </div>
</section>



  {% if animal.aName == "shark" %}
      <video width=100% height=600px autoplay muted loop>
        <source src="{% static 'app01/video/shark.mp4'%}" type="video/mp4">
         <source src="movie.ogg" type="video/ogg">
        </video>

  {% endif %}
  {% if animal.aName == "Flatback turtle" %}
      <video width=100% height=600px autoplay muted loop>
      <source src="{% static 'app01/video/flatbackTurtle.mp4'%}" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      </video>
  {% endif %}

 <!-- 2nd section --> <!-- slide secion -->
 <section class="row tm-section tm-col-md-reverse">

<div class="Picturecontainer">
  <section id="intro">
    {% if animal.aName == "shark" %}
			<ul id="slippry-slider">

			  <li>
				<a ><img  src="{% static 'app01/img/shark1.jpg' %}" width="200px" height="300px"></a>

			  </li>
			  <li>
				<a><img src="{% static 'app01/img/shark2.jpg' %}" width="200px" height="300px"></a>
			  </li>
			  <li>
				<a><img src="{% static 'app01/img/portfolio/pollution_shark1.jpg' %}" width="100%" height="100%"></a>
			  </li>
              <li>
				<a><img src="{% static 'app01/img/portfolio/pollution_shark2.jpg' %}" width="100%" height="100%"></a>
			  </li>

			</ul>
    {% endif %}

    {% if animal.aName == "Flatback turtle" %}
			<ul id="slippry-slider">
            <div class="Picturecontainer">
			  <li>
				<a ><img src="{% static 'app01/img/Flatback turtle1.jpg' %}" width="100%" height="100%"></a>
			  </li>
			  <li>
				<a><img src="{% static 'app01/img/Flatback turtle2.jpg' %}" width="100%" height="100%"></a>
			  </li>
            </div>
			</ul>
    {% endif %}
</section>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

    <div class="tm-flex-center p-5">

        <div class="tm-md-flex-center">

            <h2 class="tm-align-left">Shark picture part</h2>

                <p class="mb-4">{{ animal.aDetail }}</p>

                     <a href="#" class="'btn btn-primary float-lg-left tm-md-align-center"> Read More</a>

        </div>

  </div>
</div>

</section>

     <!-- 3rd Section --><!--- google map secion -->
 <section class="row tm-section">

  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

    <div class="tm-flex-center p-5">
        <div class="tm-flex-center tm-flex-col">

        <h2 class="tm-align-right">Habitat</h2>
            <p>{{ animal.aHabitat }}</p>
       </div>
    </div>
  </div>

  <!--The div element for the map -->
<div id="map"></div>
   <script>
    // Initialize and add the map
    function initMap() {
        console.log(1111)
        // The location of Uluru
        var c = {{ x|safe }};
        list = c.locationList
        var marker,i;
        var lo = {lat:list[0][0], lng: list[0][1]}
        var map = new google.maps.Map(document.getElementById('map'), {zoom:4, center: lo});

        for(i=0;i< list.length;i++)
        {
            marker = new google.maps.Marker({position: new google.maps.LatLng(list[i][0],list[i][1]), map: map});
            {#markerlist.append(new google.maps.Marker({position: uluru, map: map}))#}

        }
    }
</script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7ZGxAWKGweQBCNoQWfIs75Do3oia5ZJA&callback=initMap">
    </script>

</section>

<script src="{% static 'app01/js/jquery-1.9.1.min.js'%}"></script>
<script src="{% static 'app01/js/jquery.easing.js'%}"></script>
<script src="{% static 'app01/js/classie.js'%}"></script>
<script src="{% static 'app01/js/bootstrap.js'%}"></script>
<script src="{% static 'app01/js/slippry.min.js'%}"></script>
<script src="{% static 'app01/js/nagging-menu.js'%}"></script>
<script src="{% static 'app01/js/jquery.nav.js'%}"></script>
<script src="{% static 'app01/js/jquery.scrollTo.js'%}"></script>
<script src="{% static 'app01/js/jquery.fancybox.pack.js'%}"></script>
<script src="{% static 'app01/js/jquery.fancybox-media.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
<script src="{% static 'app01/js/masonry.pkgd.min.js'%}"></script>
<script src="{% static 'app01/js/imagesloaded.js'%}"></script>
<script src="{% static 'app01/js/jquery.nicescroll.min.js'%}"></script>
<script src="{% static 'app01/js/validate.js'%}"></script>
<script src="{% static 'app01/js/AnimOnScroll.js'%}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
<script>
	$(document).ready(function(){
	  $('#slippry-slider').slippry(
		defaults = {
			transition: 'horizontal',
			useCSS: true,
			speed: 5000,
			pause: 3000,
			initSingle: false,
			auto: true,
			preload: 'visible',
			pager: false,
		}

	  )
	});
</script>
{# <!-- Footer -->#}
{##}
{#<div class="row">#}
{##}
{#  <div class="col-lg-12">#}
{##}
{#    <p class="text-center small tm-copyright-text mb-0">Copyright  <span class="tm-current-year">2018</span> Your Company Name | Designed by Template Mo</p>#}
{##}
{#  </div>#}
{##}
{#</div>#}
{##}
{#</div>#}

<!-- load JS -->
 </div>
<script src="static/app01/css/js/jquery-3.2.1.slim.min.js"></script>         <!-- https://jquery.com/ -->

<script>

  /* DOM is ready

  ------------------------------------------------*/

  $(function(){

    if(renderPage) {
      $('body').addClass('loaded');
    }

    $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright

  });

</script>


</body>
</html>