<!DOCTYPE html>
<html lang="en">

<head>
<style>
    div.gallery img {
        cursor: pointer;
         transition: all 1s;
         border-radius: 50%;

    }

    h1 {
        font-size: 40px;
        text-align: center;
    }
</style>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>DetailInformation</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'app01/css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="{% static 'app01/css/templatemo-style.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link href="{% static 'app01/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'app01/css/bootstrap-theme.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/css/slippry.css' %}">
    <link href="{% static 'app01/css/style.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app01/color/default.css'%}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
     <script>

    var renderPage = true;

    if(navigator.userAgent.indexOf('MSIE')!==-1
      || navigator.appVersion.indexOf('Trident/') > 0){
        /* Microsoft Internet Explorer detected in. */
        alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
        renderPage = false;
    }

  </script>

    <script src="{% static 'app01/js/modernizr.custom.js'%} "></script>

</head>

<body>
<header>
  <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">MarineLife</a>
    </div>

  <ul class="nav nav-pills">
        <li><a href="index">Home</a></li>
        <li><a href="marinelife">MarineLife World</a></li>
        <li><a href="recyclevideo">Recycle Video</a></li>
        <li><a href="game">Small Games</a></li>
        <li><a href="aboutUs">About Us</a></li>
  </ul>

  </div>
</div>

</header>

<div id="loader-wrapper">

    <div id="loader"></div>

    <div class="loader-section section-left"></div>

    <div class="loader-section section-right"></div>

  </div>
 <div class="container">

    <!-- 1st section -->

  <section class="row tm-section">

  <ur>
      {% if animal.aName == "shark" %}
          <div class="gallery">
          <img src="static/app01/img/shark1.jpg" width="300" height="300" class="center-block"></a>
              <div class="desc"><h1 class="tm-text-color-primary tm-site-name">Shark</h1></div>
          </div>
      {% endif %}

      {% if animal.aName == "Flatback turtle" %}
          <div class="gallery">
          <img src="static/app01/img/Flatback turtle1.jpg" width="300" height="300" class="center-block"></a>
              <div class="desc"><h1 class="tm-text-color-primary tm-site-name">&nbsp;Flatback turtle</h1></div>
          </div>
      {% endif %}

  </ur>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">

    <div class="tm-flex-center p-5">
      {% if animal.aName == "shark" %}
          <q class="tm-quote tm-text-color-primary"><b>Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head.Ut sit amet augue elit. Vivamus eget tortor in ante scelerisque gravida. Vestibulum auctor condimentum sem.</b></q>
      {% endif %}

      {% if animal.aName == "Flatback turtle" %}
          <q class="tm-quote tm-text-color-primary"><b>The Australian flatback sea turtle is a species of sea turtle in the family Cheloniidae. The species is endemic to the sandy beaches and shallow coastal waters of the Australian continental shelf. This turtle gets its common name from the fact that its shell has a flattened or lower dome than the other sea turtles.</b></q>
      {% endif %}

    </div>
  </div>
</section>

<section id="intro">
    {% if animal.aName == "shark" %}
			<ul id="slippry-slider">
			  <li>
				<a ><img src="{% static 'app01/img/shark1.jpg' %}" alt="Welcome to MarineLife World!"></a>
			  </li>
			  <li>
				<a><img src="{% static 'app01/img/shark2.jpg' %}" alt="This is an awesome website!"></a>
			  </li>
			  <li>
				<a><img src="{% static 'app01/img/portfolio/pollution_shark1.jpg' %}" alt="Hope you can <span class='red'>♥</span> it :)"></a>
			  </li>
              <li>
				<a><img src="{% static 'app01/img/portfolio/pollution_shark2.jpg' %}" alt="Hope you can <span class='red'>♥</span> it :)"></a>
			  </li>
			</ul>
    {% endif %}
</section>



<script src="{% static 'app01/js/jquery-1.9.1.min.js'%}"></script>
<script src="{% static 'app01/js/jquery.easing.js'%}"></script>
<script src="{% static 'app01/js/classie.js'%}"></script>
<script src="{% static 'app01/js/bootstrap.js'%}"></script>
<script src="{% static 'app01/js/slippry.min.js'%}"></script>
<script src="{% static 'app01/js/nagging-menu.js'%}"></script>
<script src="{% static 'app01/js/jquery.nav.js'%}"></script>
<script src="{% static 'app01/js/jquery.scrollTo.js'%}"></script>
<script src="{% static 'app01/js/jquery.fancybox.pack.js'%}"></script>
<script src="{% static 'app01/js/jquery.fancybox-media.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
<script src="{% static 'app01/js/masonry.pkgd.min.js'%}"></script>
<script src="{% static 'app01/js/imagesloaded.js'%}"></script>
<script src="{% static 'app01/js/jquery.nicescroll.min.js'%}"></script>
<script src="{% static 'app01/js/validate.js'%}"></script>
<script src="{% static 'app01/js/AnimOnScroll.js'%}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
<script>
	$(document).ready(function(){
	  $('#slippry-slider').slippry(
		defaults = {
			transition: 'horizontal',
			useCSS: true,
			speed: 5000,
			pause: 3000,
			initSingle: false,
			auto: true,
			preload: 'visible',
			pager: false,
		}

	  )
	});
</script>
 <!-- Footer -->

<div class="row">

  <div class="col-lg-12">

    <p class="text-center small tm-copyright-text mb-0">Copyright  <span class="tm-current-year">2018</span> Your Company Name | Designed by Template Mo</p>

  </div>

</div>

</div>

<!-- load JS -->

<script src="static/app01/css/js/jquery-3.2.1.slim.min.js"></script>         <!-- https://jquery.com/ -->

<script>

  /* DOM is ready

  ------------------------------------------------*/

  $(function(){

    if(renderPage) {
      $('body').addClass('loaded');
    }

    $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright

  });

</script>

<li><h1>{{ animal.aName}}</h1></li>
<li><h3>Type: {{ animal.aType }}</h3></li>
<li><h3>Size: {{ animal.aSize }} cm</h3></li>
<li><h3>Habitat:{{ animal.aHabitat }}</h3></li>
<li><h3>Detail:{{ animal.aDetail }}</h3></li>


<li></li>
</body>
</html>